{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4 sec1">
    <h1 class="display-4 txt">Всякие туры</h1>
    <p class="mt-5 w-50 mx-auto txt">Лучшие направления,где никто не будет вам мешать сидеть на берегу и изучать
        программирование, дизайн, разработку игр и управление продуктами</p>
    </section>
</main>
{% endblock %}